body {
	background-image: url("img/inspiredchild.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-family: Arial;
	padding: 100px;

}

.donator{
	text-align: center;
	margin: 0 auto;
	color: #fff;
}

.checkbox {
	text-align: left;
	margin: 0 auto;
	display: inline-block;
	background-color: 
}

.checkbox  li, {
	text-align: center;
	display: inline-block;
}



<!-- Contact Details -->

.contact-det {
	background-color:rgba(0,0,255,0.3);
}

.contact-det h1 {
	background-color: rgba(252,114,0,0.45);
	color: #fff;
	text-align: center;
	padding: 20px;
}

.contact-det p {
	font-family: Arial;
	color: #fff;
	text-align: center;
	padding: 20px;

}

.subheading p {
	text-align: center;

}


.Contact ul, li{
	display: inline-block;
	padding: 20px;
	text-align: center;
}

<!/-- Contact Details -->
