#footer{
	margin-top:1%;
	background-color: black;
 	position: relative;
 	width: 100%;
 	height: 110px; 
 	bottom: 0;
 	display: block;
 }
#serv{
	width:30%;
	height:30%;
}


#footer-wrapper{
	width: 960px; 
	margin: 0 auto; 
	text-align: left;
}
#footer ul{
	list-style-type: none; 
	padding: 0;
	margin: 0;
}
#footer ul li{
	display: inline-block;
 }

#footer ul li:hover{
	background-color: #333;
}

#footer ul li a,visited{
	color: #CCC; 
	display: block; padding: 15px;
	text-decoration: none;
}

body {
	font-family: arial;
	font-size: 18px;
}

span h2{
	color: #fff;
}

h2{
	text-align: center;
	margin: 0 auto;
	padding: 0.85em;
	color: #000;
	width: 50%;
	position: relative;
}

body {
  font: 14px/1.4 arial;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block;
  height: 320px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 400px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
  opacity: 0;
}
 
ul.img-list li:hover span.text-content {
  opacity: 1;
}

/*.imgWrap img{
	width: 30%;
	height: 50%;
	float: left;
	margin: 10px;
}
.imgWrap {
  position: relative;
  height: 10%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.imgDescription {
  position: absolute;
  height: 90%;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0; 
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}*/

