html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
	font-size: 18px;
	background-image: url("img/kids.jpg");
	font-family: arial;

}
#logo{
	float: left;
	height: 75px;
	padding-left: 0px;
	border: 2px solid white;
	margin-left: 30px;
	clear: both;
}

nav{
	background-color: #000;
    font-family: Arial;
	font-size: 18px;
	height: 50px;
	width: 100%;
	padding: 20px 0px;
}

ul li {
	display: inline;
	color: #fff;
}

ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0px 25px;
}
a:hover{
	text-decoration: underline;
}

#big_text span{
	font-weight: bolder;
	font-size: 40px;
	padding-left: 50px;
}
#big_text {
	padding: 40px;
	margin: 70px, 5px, 0px, 30px;
	width: 400px;
	font-size: 40px;
	color: white;
	opacity: 0.8;
	text-align: left;
	background-color: rgba(0,0,0,.75);	
}
#mid_text{
	padding: 10px;
	margin: 10px 30px;
	display: block;
	float: left;
	width: 460px;
	font-size: 25px;
	color: black;
	opacity: 0.8;
	background-color: rgba(255,255,255,.75);
}

#button{
	display: inline-block;
	padding: 0.5em;
	padding-bottom: 5px;
	margin-left:300px ;
	background-color: #FC7200;
	border-radius: 5px;		
}
/*#footer{
	background-color: black;
 	position: relative;
 	width: 99%;
 	height: 100px; 
 	bottom: 0;
}
#footer-wrapper{
	width: 960px; 
	margin: 0 auto; 
	text-align: left;
}
#footer ul{
	list-style-type: none; 
	padding: 0;
	margin: 0;
}
#footer ul li{
	display: inline-block;
 }

#footer ul li:hover{
	background-color: #333;
}

#footer ul li a:visited{
	color: #CCC; 
	display: block; padding: 15px;
	text-decoration: none;
}*/
