
nav{
	background-color: black;
    font-family: arial;
	font-size: 18px;
}
ul{
	padding-top: 10px;
	padding-left: 100px;
}
.bgnav{
	height:70px;
	max-width: 900px;
}
li a{
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: white;
}
li {
	display: inline-block;
	padding: 1em 1em 1em 0;
	float: left;
	color: white;
	background-color: black;
;
}
#button{
	display: inline-block;
	padding: 1em;
	padding-bottom: 15px;
	margin-left:300px ;
	background-color: #FC7200;
	border-radius: 5px;		
}
#bgimg{
	background-image: url("#");
	background-size: 80%;
}
